---
layout: archive
---

<img src="assets\images\louvre_ceiling.jpeg">

{{ content }}

<h2>{{ site.data.ui-text[site.locale].about_me | default: "Welcome!" }}</h2>

<p> I am an Economics PhD student at George Mason University. I received my Bachelors in 2019 and my Masters (also from George Mason) in 2021. </p>

<p> I conduct quantitative research in economic history and historical political economy. Specifically, I am interested in the causes and consequences of media and information revolutions. I'm also interested in how our relationship with information technology affects societies, as well as the effects of government policy on this relationship. I believe these topics are highly important in the present, and hope that exploring the past can provide useful information for the present. </p>

<p> I plan to use this space to keep those interested up-to-date with my current work, share anything of importance (or that I find interesting), and link to resources I've found useful in my studies. So expect the site to expand in the future! </p>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
